@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", system-ui, sans-serif;
}

body {
  background-color: #f7f7fb;
  color: #33334d;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}
